@import "../css/style.css";
.register-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #012970;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 575.98px) {
  .register-background {
    min-height: 115vh;
  }
}
@media (min-width: 575.98px) {
  .register-background {
    align-items: center;
  }
}
.register-background .register-view {
  display: flex;
  flex-direction: row;
}
.register-background .register-view .register-left-bg-main, .register-background .register-view .register-left-bg-store, .register-background .register-view .register-left-bg-chain-store, .register-background .register-view .register-left-bg-clinic, .register-background .register-view .register-left-bg-provider, .register-background .register-view .register-left-bg-company {
  background-color: #fff;
  border-radius: 10px 0px 0px 10px;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
}
@media (max-width: 575.98px) {
  .register-background .register-view .register-left-bg-main, .register-background .register-view .register-left-bg-store, .register-background .register-view .register-left-bg-chain-store, .register-background .register-view .register-left-bg-clinic, .register-background .register-view .register-left-bg-provider, .register-background .register-view .register-left-bg-company {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .register-background .register-view .register-left-bg-main, .register-background .register-view .register-left-bg-store, .register-background .register-view .register-left-bg-chain-store, .register-background .register-view .register-left-bg-clinic, .register-background .register-view .register-left-bg-provider, .register-background .register-view .register-left-bg-company {
    height: 360px;
  }
}
@media (max-width: 1399.98px) {
  .register-background .register-view .register-left-bg-main, .register-background .register-view .register-left-bg-store, .register-background .register-view .register-left-bg-chain-store, .register-background .register-view .register-left-bg-clinic, .register-background .register-view .register-left-bg-provider, .register-background .register-view .register-left-bg-company {
    width: 360px;
    /* height: 490px; */
  }
}
@media (min-width: 1399.98px) {
  .register-background .register-view .register-left-bg-main, .register-background .register-view .register-left-bg-store, .register-background .register-view .register-left-bg-chain-store, .register-background .register-view .register-left-bg-clinic, .register-background .register-view .register-left-bg-provider, .register-background .register-view .register-left-bg-company {
    width: 450px;
    height: 600px;
  }
}
.register-background .register-view .register-left-bg-main .register-img-title, .register-background .register-view .register-left-bg-store .register-img-title, .register-background .register-view .register-left-bg-chain-store .register-img-title, .register-background .register-view .register-left-bg-clinic .register-img-title, .register-background .register-view .register-left-bg-provider .register-img-title, .register-background .register-view .register-left-bg-company .register-img-title {
  min-height: 50;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
  color: white;
  margin-left: 15px;
  margin-top: 5%;
  font-size: 16px;
  font-family: Nunito;
  text-transform: uppercase;
}
.register-background .register-view .register-left-bg-main .register-img-content, .register-background .register-view .register-left-bg-store .register-img-content, .register-background .register-view .register-left-bg-chain-store .register-img-content, .register-background .register-view .register-left-bg-clinic .register-img-content, .register-background .register-view .register-left-bg-provider .register-img-content, .register-background .register-view .register-left-bg-company .register-img-content {
  margin-left: 30px;
  margin-right: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register-background .register-view .register-left-bg-main .register-img-content .register-img-content-line, .register-background .register-view .register-left-bg-store .register-img-content .register-img-content-line, .register-background .register-view .register-left-bg-chain-store .register-img-content .register-img-content-line, .register-background .register-view .register-left-bg-clinic .register-img-content .register-img-content-line, .register-background .register-view .register-left-bg-provider .register-img-content .register-img-content-line, .register-background .register-view .register-left-bg-company .register-img-content .register-img-content-line {
  color: white;
  font-family: Nunito;
  font-weight: bold;
}
@media (max-width: 767.98px) {
  .register-background .register-view .register-left-bg-main .register-img-content .register-img-content-line, .register-background .register-view .register-left-bg-store .register-img-content .register-img-content-line, .register-background .register-view .register-left-bg-chain-store .register-img-content .register-img-content-line, .register-background .register-view .register-left-bg-clinic .register-img-content .register-img-content-line, .register-background .register-view .register-left-bg-provider .register-img-content .register-img-content-line, .register-background .register-view .register-left-bg-company .register-img-content .register-img-content-line {
    font-size: x-large;
  }
}
.register-background .register-view .register-left-bg-main .register-img-content .register-img-content-des, .register-background .register-view .register-left-bg-store .register-img-content .register-img-content-des, .register-background .register-view .register-left-bg-chain-store .register-img-content .register-img-content-des, .register-background .register-view .register-left-bg-clinic .register-img-content .register-img-content-des, .register-background .register-view .register-left-bg-provider .register-img-content .register-img-content-des, .register-background .register-view .register-left-bg-company .register-img-content .register-img-content-des {
  color: white;
  font-family: Nunito;
  margin-top: 5%;
}
@media (max-width: 767.98px) {
  .register-background .register-view .register-left-bg-main .register-img-content .register-img-content-des, .register-background .register-view .register-left-bg-store .register-img-content .register-img-content-des, .register-background .register-view .register-left-bg-chain-store .register-img-content .register-img-content-des, .register-background .register-view .register-left-bg-clinic .register-img-content .register-img-content-des, .register-background .register-view .register-left-bg-provider .register-img-content .register-img-content-des, .register-background .register-view .register-left-bg-company .register-img-content .register-img-content-des {
    font-size: medium;
  }
}
.register-background .register-view .register-left-bg-main .register-img-footer, .register-background .register-view .register-left-bg-store .register-img-footer, .register-background .register-view .register-left-bg-chain-store .register-img-footer, .register-background .register-view .register-left-bg-clinic .register-img-footer, .register-background .register-view .register-left-bg-provider .register-img-footer, .register-background .register-view .register-left-bg-company .register-img-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}
.register-background .register-view .register-left-bg-main .register-img-footer .register-img-icon-phone, .register-background .register-view .register-left-bg-store .register-img-footer .register-img-icon-phone, .register-background .register-view .register-left-bg-chain-store .register-img-footer .register-img-icon-phone, .register-background .register-view .register-left-bg-clinic .register-img-footer .register-img-icon-phone, .register-background .register-view .register-left-bg-provider .register-img-footer .register-img-icon-phone, .register-background .register-view .register-left-bg-company .register-img-footer .register-img-icon-phone {
  font-size: large;
  color: white;
}
.register-background .register-view .register-left-bg-main .register-img-footer .register-img-footer-hotline, .register-background .register-view .register-left-bg-store .register-img-footer .register-img-footer-hotline, .register-background .register-view .register-left-bg-chain-store .register-img-footer .register-img-footer-hotline, .register-background .register-view .register-left-bg-clinic .register-img-footer .register-img-footer-hotline, .register-background .register-view .register-left-bg-provider .register-img-footer .register-img-footer-hotline, .register-background .register-view .register-left-bg-company .register-img-footer .register-img-footer-hotline {
  color: white;
  font-family: Nunito;
  margin-left: 2%;
  margin-right: 2%;
}
.register-background .register-view .register-left-bg-main .register-img-footer .register-img-footer-phone, .register-background .register-view .register-left-bg-store .register-img-footer .register-img-footer-phone, .register-background .register-view .register-left-bg-chain-store .register-img-footer .register-img-footer-phone, .register-background .register-view .register-left-bg-clinic .register-img-footer .register-img-footer-phone, .register-background .register-view .register-left-bg-provider .register-img-footer .register-img-footer-phone, .register-background .register-view .register-left-bg-company .register-img-footer .register-img-footer-phone {
  color: white;
  font-family: Nunito;
  font-weight: bold;
}

.register-background .register-view .register-form {
  display: flex;
  background-color: #fff;
  width: 500px;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 10px;
}

.register-background .register-view .register-form .register-logo {
  padding: 20px 5px 30px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-background .register-view .register-form .register-logo .logo {
  width: 70px;
  border-radius: 50%;
}
.register-background .register-view .register-form .button-container {
  display: flex;
  justify-content: center;
  padding: 0;
}


